<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
              <div class="container">
                <h1>Please login</h1>
                <br>
                <form action="" method="post">
                  <input type="text" placeholder="Username" name="username" value="{{
                    request.form.username }}">
                   <input type="password" placeholder="Password" name="password" value="{{
                    request.form.password }}">
                  <input class="btn btn-default" type="submit" value="Login">
                </form>
                {% if error %}
                  <span class="label label-danger">Error:{{ error }}</span>
                {% endif %}
              </div>
            </div>
        </div>
{% endblock %}
