{% extends "base.html" %}
{% block content %}
<head>
  <style>
  /* ----Code obained from http://jsfiddle.net/UNs9J/1/ --- */
  span{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;

}
span:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
#trans{
    display:visable;
}

#trans:hover span{
    display:block;
}

#trans:hover span{
    display:block;
}
/* --- End of code obtained */
  </style>
<body>
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">
                  Dublin {{area}} <small>Analysis</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> {{year}}
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-tasks fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div>Sum of properties sold:</div>
                              <div><strong> €{{sumData}}</strong></div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Average price:</div>
                                <div><strong> €{{mean}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-tasks fa-5x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div>Most expensive property:</div>
                                  <div><strong> €{{max}}</strong></div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Cheapest property:</div>
                                    <div><strong> €{{min}}</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
          </div>
  <div class="row">
      <div class="col-lg-6 text-center">
          <div class="panel panel-default">
              <div class="panel-body">
                <div id ="trans">
                  <span>Place information regarding Pre Clamp and Post Clamp information here </span>
                  <iframe align=left width="100%" height="500" frameborder="0" scrolling="no" src='/static/images/history/H1.html?link=false"'></iframe>
                  </div>

              </div>
          </div>
      </div>
      <div class="col-lg-6 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                  <iframe align=left width="100%" height="500" frameborder="0" scrolling="no" src='/static/images/history/H2.html?link=false"'></iframe>
                </div>
            </div>
        </div>
  </div>
</div>
  <div class="row">
      <div class="col-lg-6 text-center">
          <div class="panel panel-default">
              <div class="panel-body">
                    <iframe height="450" width="100%" scrolling="no" src="/static/images//history/H3.html?link=false"></iframe>
              </div>
          </div>
        </div>
          <div class="col-lg-6 text-center">
              <div class="panel panel-default">
                  <div class="panel-body">
                        <iframe height="450" width="100%" scrolling="no" src="/static/images//history/H4.html?link=false"></iframe>
                  </div>
              </div>
            </div>

      </div>
      <div class="row">
          <div class="col-lg-6 text-center">
              <div class="panel panel-default">
                  <div class="panel-body">
                        <iframe height="450" width="100%" scrolling="no" src="/static/images/history/H5.html?link=false"></iframe>
                  </div>
              </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                          <iframe height="450" width="100%" scrolling="no" src="/static/images/history/H6.html?link=false"></iframe>
                    </div>
                </div>
              </div>
    </div>
  </div>

</body>

  {% endblock %}
</html>
